<% title "Login" %>


<p>Ainda não é usuário? <%= link_to "Cadastre-se", signup_path %></p>

<table>

<tr>
<td>

 <fieldset class="round"> 
 <legend>Autenticação</legend> 

<div class="login_usuario">

	<%= form_tag sessions_path do %>
	  <p>
		 <%= label_tag :login, "Usuario ou cnpj / cpf" %><br />
		 <%= text_field_tag :login, params[:login], :autocomplete=>"off", :class=>"user_username" %>
	  </p>
	  <p>
		 <%= label_tag :password, "Senha" %><br />
		 <%= password_field_tag :password%>
	  </p>
</div>
 </fieldset> 

<p><%= submit_tag "Login", :class=>"g-button" %></p>

</td>
</tr>
</table>

	  
	<% end %>

