<%= form_for(@user) do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

 <fieldset class="round"> 
 <legend>Dados para login</legend> 

<div class="dados_usuario">
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email, "Email Address" %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation, "Confirm Password" %><br />
    <%= f.password_field :password_confirmation %>
  </p>
</div>
   </fieldset> 

  <p><%= f.submit (@user.new_record? ? "Sign up" : "Update", :class=>"g-button") %></p>
<% end %>
