<div id="search" >

		<%= form_for @search do |f| %>

		 <p>
			<%= f.label :descricao_contains, "Descrição:" %><br />
			<%= f.text_field :descricao_contains, :class=>"clearme", :placeholder=>"Executa pesquisa no campo descrição" %>
		 </p>


		<%= f.submit  "Executar Pesquisa" %> - <%=f.submit  "Limpar Campos", :type=>"reset", :class=>"reset_search g-button", :id=>"reset_search"  %> <br /> 

		<% end %>
	
</div>


