<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @marca.id %>
</p>

<p>
  <b>Nome:</b>
  <%= @marca.nome %>
</p>


<%= link_to 'Edit', edit_marca_path(@marca) %> |
<%= link_to 'Back', marcas_path %>
