<%= form_for(@item) do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :produto_id, "Produto:" %><br />
	<p><%=@item.produto.descricao%></p>
  </div>
  <div class="field">
    <%= f.label :marca_id,"Marca:" %><br />
  	<p><%=@item.marca.nome%></p>
  </div>
  <div class="field">
    <%= f.label :parecer , "Parecer:"%><br />
	 <%= f.select  "parecer_id",  pareceres.map { |p| [ p.descricao, p.id ]}, {:include_blank => ''}%>
	 <span id="dif"><%= verif_mumps_icon(@item) %></span>

  </div>

  <div class="actions">
    <%= f.submit @item.new_record? ? "Salvar" : "Atualizar",  :class=>"g-button"%>
  </div>
<% end %>
