<%= form_for(@item) do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :produto_id %><br />
    <%= f.text_field :produto_id %>
  </div>
  <div class="field">
    <%= f.label :fabricante_id %><br />
    <%= f.text_field :fabricante_id %>
  </div>
  <div class="field">
    <%= f.label :parecer_id %><br />
    <%= f.text_field :parecer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
