<% title "Relação de Itens" %>

<%= render 'search' %>

<hr />


<br />
<%= will_paginate @items %>	
<br />

<table>
  <tr>
    <th><%= sort_link @search,  :produto_id, "Código" %></th>
    <th></th>
    <th><%= sort_link @search,  :produto_descricao, "Descrição" %></th>    
    <th><%= sort_link @search,  :produto_grupo_descricao, "Grupo" %></th>    
    <th><%= sort_link @search,  :marca_nome, "Marca" %></th>
    <th><%= sort_link @search,  :parecer_descricao, "Parecer" %></th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @items.each do |item| %>
  <tr>
    <td><%= item.produto.id %></td>
    <td><span id="dif"><%= verif_mumps_icon(item) %></span></td>
    <td><%= item.produto.descricao %></td>
    <td><%= item.produto.grupo.descricao %></td>
    <td><%= item.marca.nome %></td>
    <td><%= item.parecer.descricao%></td>

   
    

	<% if logged_in? and current_user.admin? %>

    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item_path(item), :confirm => 'Are you sure?', :method => :delete %></td>

	<% end%>

  </tr>
<% end %>
</table>

<br />
<%= will_paginate @items %>	
<br />
<%= page_entries_info @posts %> 
<br />

<% if logged_in? and current_user.admin? %>

	<%= link_to 'New Item', new_item_path %>

<% end %>





