<% title "Items" %>

<%= render 'search' %>

<hr />


<br />
<%= will_paginate @items %>	
<br />

<table>
  <tr>
    <th>Código</th>
    <th>Descrição</th>    
    <th>Grupo</th>    
    <th>Marca</th>
    <th>Parecer</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.produto.id %></td>
    <td><%= item.produto.descricao %></td>
    <td><%= item.produto.grupo.descricao %></td>
    <td><%= item.marca.nome %></td>
    <td><%= item.parecer.descricao%></td>

	<% if logged_in? and current_user.admin? %>

    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item_path(item), :confirm => 'Are you sure?', :method => :delete %></td>

	<% end%>

  </tr>
<% end %>
</table>

<br />
<%= will_paginate @items %>	
<br />
<%= page_entries_info @posts %> 
<br />

<% if logged_in? and current_user.admin? %>

	<%= link_to 'New Item', new_item_path %>

<% end %>





