<h1>Items</h1>

<table>
  <tr>
    <th>Código</th>
    <th>Descrição</th>    
    <th>Fabricante</th>
    <th>parecer</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.produto.id %></td>
    <td><%= item.produto.descricao %></td>
    <td><%= item.marca.nome %></td>
    <td><%= item.parecer.descricao%></td>
    <td><%= link_to 'Show', grupo_produto_items_path %></td>
    <td><%= link_to 'Edit', edit_grupo_produto_item_path(item.produto.grupo,item.produto,item) %></td>
    <td><%= link_to 'Destroy', grupo_produto_item_path(item.produto.grupo,item.produto,item), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>



<br />

<%= link_to 'New Item', new_grupo_produto_item_path %>



