<p id="notice"><%= notice %></p>

<p>
  <b>Código:</b>
  <%= @item.produto_id %>  
  <b>Descrição:</b>
  <%= @item.produto.descricao %>

</p>

<p>
  <b>Marca:</b>
  <%= @item.marca.nome %>
</p>

<p>
  <b>Parecer:</b>
  <%= @item.parecer.descricao %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
