<% title "Exibe Item" %>

<p>
  <b>Produto:</b> <br />
  <%= @item.produto.descricao %>
</p>

<p>
  <b>Marca:</b><br />
  <%= @item.marca.nome %>
</p>

<p>
  <b>Parecer:</b><br />
  <%= @item.parecer.descricao %>
  <span id="dif"><%= verif_mumps_icon(@item) %></span>
</p>




<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
