<p id="notice"><%= notice %></p>

<p>
  <b>Produto:</b>
  <%= @item.produto_id %>
</p>

<p>
  <b>Fabricante:</b>
  <%= @item.marca_id %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
