<%= form_for(@produto) do |f| %>

	<%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit, :class=>"g-button" %>
  </div>
<% end %>
