<% title "Relação de Produtos" %>

<%=render 'search'%>

<hr />

<!--<% if @grupo %>-->
<!--	<h3><%= @grupo.descricao %></h3>-->
<!--<% else %>-->
<!--	<h3>Todos os Grupos</h3>-->
<!--<% end %>-->


<br />
<%= will_paginate @produtos %>	
<br />

<table>
  <tr>
		<th>Código</th>
		<th>Descricao</th>

	<% if logged_in? and current_user.admin? %>
		<th></th>
		<th></th>
		<th></th>
	<% end %>

  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td class="top"><%= produto.id %></td>
    <td class="top"><%= produto.descricao %></td>
    <td class="top"><%= link_to "#{pluralize(produto.marcas.count,'Marca')}", produto_items_path(produto) %>
		<table>
		  <tr>
			 <th>Marca</th>
			 <th>Parecer</th>
		  </tr>
   	 
    	</table>
    </td>	
	

	<% if logged_in? and current_user.admin? %>
		 <td><%= link_to 'Show', produto_path(produto	) %></td>
		 <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
		 <td><%= link_to 'Destroy', produto_path(produto), :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>

  </tr>
<% end %>

</table>

<br />
<%= will_paginate @produtos %>	
<br />


<br />
<% if logged_in? and current_user.admin? %>
	<%= link_to 'New Produto', new_grupo_path %>
<% end %>

