<% title "Relação de Produtos" %>

<%=render 'search'%>

<hr />

<!--<% if @grupo %>-->
<!--	<h3><%= @grupo.descricao %></h3>-->
<!--<% else %>-->
<!--	<h3>Todos os Grupos</h3>-->
<!--<% end %>-->


<table>
  <tr>
		<th>Código</th>
		<th>Descricao</th>

	<% if logged_in? and current_user.admin? %>
		<th></th>
		<th></th>
		<th></th>
	<% end %>

  </tr>

<% @produtos.each do |produto| %>
  <tr>
    <td><%= produto.id %></td>
    <td><%= produto.descricao %></td>
    <td><%= link_to "#{pluralize(produto.marcas.count,'Marca')}", produto_items_path(produto) %></td>
	<% if logged_in? and current_user.admin? %>
	 <td><%= link_to 'Show', produto_path(produto	) %></td>
	 <td><%= link_to 'Edit', edit_produto_path(produto) %></td>
	 <td><%= link_to 'Destroy', produto_path(produto), :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>

</table>

<br />
<% if logged_in? and current_user.admin? %>
	<%= link_to 'New Produto', new_grupo_path %>
<% end %>

