<h1>Fabricantes</h1>

<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fabricantes.each do |fabricante| %>
  <tr>
    <td><%= fabricante.codigo %></td>
    <td><%= fabricante.nome %></td>
    <td><%= link_to 'Show', fabricante %></td>
    <td><%= link_to 'Edit', edit_fabricante_path(fabricante) %></td>
    <td><%= link_to 'Destroy', fabricante, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fabricante', new_fabricante_path %>
