<%= form_for(@parecer) do |f| %>
  <% if @parecer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parecer.errors.count, "error") %> prohibited this parecer from being saved:</h2>

      <ul>
      <% @parecer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="field">
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
