<h1>Listing parecers</h1>

<table>
  <tr>
    <th>Codigo</th>
    <th>Descricao</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parecers.each do |parecer| %>
  <tr>
    <td><%= parecer.codigo %></td>
    <td><%= parecer.descricao %></td>
    <td><%= link_to 'Show', parecer %></td>
    <td><%= link_to 'Edit', edit_parecer_path(parecer) %></td>
    <td><%= link_to 'Destroy', parecer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parecer', new_parecer_path %>
