<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @parecer.id %>
</p>

<p>
  <b>Descricao:</b>
  <%= @parecer.descricao %>
</p>


<%= link_to 'Edit', edit_parecer_path(@parecer) %> |
<%= link_to 'Back', parecers_path %>
